@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Ruda:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap");
@font-face {
  font-family: "Sequel 100 Wide 95";
  src: url("/fonts/Sequel100Black-95.ttf") format("truetype"); /* убран лишний '/' в конце */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Saoldisplay";
  src: url("/fonts/SAOLDISPLAY-REGULAR.TTF") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Clashdisplay";
  src: url("/fonts/FONTSFREE-NET-CLASHDISPLAY-VARIABLE.TTF") format("truetype");
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Matroska", sans-serif;
  margin: 0 auto;
}

html[lang="ru"] body {
  font-family: "Roboto Slab", serif;
}

html[lang="en"] body,
html[lang="fr"] body {
  font-family: "Clashdisplay", "Saoldisplay", sans-serif;
}
